<input type="hidden" id="id" name="id" value="<%=(item ? item.id : 0) %>" />

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="apelido">Apelido</label>
			<input id="apelido" name="apelido" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.apelido : '') %>" />
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group">
			<label for="placa">Placa</label>
			<input id="placa" name="placa" maxlength="7" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.placa : '') %>" />
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
			<label for="modelo">Modelo</label>
			<input id="modelo" name="modelo" maxlength="100" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.modelo : '') %>" />
		</div>
	</div>

	<div class="col-sm-6">
		<div class="form-group mb-0">
			<label for="capacidade">Capacidade</label>
			<input id="capacidade" name="capacidade" class="form-control" type="number" min="1" value="<%=(item ? item.capacidade : '') %>" />
		</div>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			apelido: {
				required: true
			},
			placa: {
				required: true
			},
			modelo: {
				required: true
			},
			capacidade: {
				required: true,
				min: 1
			}
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Swal.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("<%- root %>/api/van/editar", form, function (response) {
				if (response.success)
					Swal.success("Van alterada com sucesso! " + emoji.happy);
				else
					Swal.error(response.value + " " + emoji.sad);
			});

			//<% } else { %>

			JsonWebApi.postFormData("<%- root %>/api/van/criar", form, function (response) {
				if (response.success) {
					resetForm("#form");
					Swal.success("Van criada com sucesso! " + emoji.happy);
				} else {
					Swal.error(response.value + " " + emoji.sad);
				}
			});

			//<% } %>
		}
	});
	//]]>
</script>
