<div class="row">
    <div class="col-lg-12">
        <div class="p-5">
            <div class="mb-4 text-center">
                <img style="width: 100%; max-width: 250px;" alt="Logo ESPM" src="<%- staticRoot %>/img/logo.png" />
            </div>

            <div>
                <p style="text-align: center; color: #a80532;">
                    Olá, motorista! Faça login com sua van antes de começar a rodar.
                </p>
            </div>

            <form method="POST">
                <div class="form-group row">
                    <div class="col-sm-12 mb-3">
                        <input type="text" class="form-control" id="inputApelidoVan" placeholder="Apelido da Van">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 mb-3">
                        <input type="text" class="form-control" id="inputPlacaVan" placeholder="Placa da Van">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6 mb-3">
                        <input type="password" class="form-control" id="inputSenhaVan" placeholder="Senha">
                    </div>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputConfirmaSenhaVan"
                            placeholder="Repetir Senha">
                    </div>
                </div>

                <button type="button" class="btn btn-primary btn-block" onclick="loginMotorista()">
                    Rodar com a Van
                </button>
            </form>

            <hr />

            <div class="text-center">
                <a class="small" href="<%- root %>/exemplo/esqueci">Esqueceu a Senha?</a>
            </div>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">

            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5 w-100">Localização Ativa!</h1>
            </div>

            <div class="modal-body">
                <p id="textoLocalizacao">Sua localização está sendo compartilhada</p>
            </div>

            <div class="modal-footer justify-content-center border-top-0">
                <button id="btnPararTransmissao" type="button" class="btn btn-danger" onclick="pararLocalizacao()"
                    data-bs-dismiss="modal">
                    Parar a transmissão
                </button>
            </div>

        </div>
    </div>
</div>

<%- contentFor("styles") %>


    <style>
        #btnPararTransmissao {
            color: #fff;
            background-color: #a80532;
            border-color: #a80532;
        }

        .cssTituloModal {
            width: 100%;
            text-align: center;
            font-size: 1.7rem !important;

        }
    </style>

    <%- contentFor("scripts") %>
        <script>
            let intervaloGPS = null;
            let modalJaMostrado = false;
            let modalInstance = null;

            function mostrarPopup(lat, lng) {
                const modalEl = document.getElementById('exampleModal');

                if (!modalInstance) {
                    modalInstance = new bootstrap.Modal(modalEl);
                }

                if (!modalJaMostrado) {
                    modalInstance.show();
                    modalJaMostrado = true;
                }
            }

            function iniciarLocalizacao(idVan) {
                if (intervaloGPS) return;

                function capturar() {
                    navigator.geolocation.getCurrentPosition(function (pos) {
                        let lat = pos.coords.latitude;
                        let lng = pos.coords.longitude;

                        JsonWebApi.post("<%- root %>/api/van/salvarLoc", {
                            idVan: idVan,
                            latitude: lat,
                            longitude: lng,
                        }, function (response) {

                            if (response.success) {
                                console.log("Salvo!");
                            } else {
                                console.log("Erro!");
                            }

                            console.log("Van:", idVan, lat, lng);
                            mostrarPopup(lat, lng);

                        });

                    }, function (erro) {
                        console.log("Erro ao obter localização:", erro);
                    });
                }


                capturar();
                intervaloGPS = setInterval(capturar, 10000);
            }

            function pararLocalizacao() {
                if (intervaloGPS) {
                    clearInterval(intervaloGPS);
                    intervaloGPS = null;
                    console.log("Localização parada");
                }

                if (modalInstance) {
                    modalInstance.hide();
                }

                modalJaMostrado = false;
            }

            function loginMotorista() {
                let apelidoVan = document.getElementById("inputApelidoVan").value;
                let senhaVan = document.getElementById("inputSenhaVan").value;
                let confirmaSenhaVan = document.getElementById("inputConfirmaSenhaVan").value;
                let placaVan = document.getElementById("inputPlacaVan").value.trim().toUpperCase();

                if (!apelidoVan) {
                    alert("O Apelido da van é invalido !");
                    return;
                }
                if (!senhaVan) {
                    alert("A senha não pode estar vazia!");
                    return;
                }
                if (!confirmaSenhaVan) {
                    alert("A confirmação da senha não pode estar vazia!");
                    return;
                }
                if (senhaVan != confirmaSenhaVan) {
                    alert("Ops! As senhas não coincidem.");
                    return;
                }
                if (!placaVan) {
                    alert("O campo placa está vazio.");
                    return;
                }

                JsonWebApi.post("<%- root %>/api/van/loginMotorista", {
                    apelido: apelidoVan,
                    senha: senhaVan,
                    placa: placaVan
                }, function (response) {

                    if (response.success) {

                        let idVan = response.value.value.id;

                        console.log("Login OK - Van:", idVan);

                        iniciarLocalizacao(idVan);

                    } else {
                        alert("Van não encontrada!");
                    }

                });
            }

        </script>