<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="p-5">
            <div class="mb-4 text-center">
                <img style="width: 100%; max-width: 250px;" alt="Logo ESPM" src="<%- staticRoot %>/img/logo.png" />
            </div>

            <div>
                <p style="text-align: center; color: var(--primary);">
                    Olá, motorista! Faça login com sua van antes de começar a rodar.
                </p>
            </div>

            <form method="POST">
                <div class="form-group row">
                    <div class="col-sm-12 mb-3">
                        <input type="text" class="form-control" id="inputApelidoVan" placeholder="Apelido da Van">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 mb-3">
                        <input type="text" class="form-control" id="inputPlacaVan" placeholder="Placa da Van">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-12 mb-3">
                        <input type="password" class="form-control" id="inputSenhaVan" placeholder="Senha">
                    </div>
                </div>

                <button type="button" class="btn btn-primary btn-block" onclick="loginMotorista()">
                    Rodar com a Van
                </button>
            </form>
        </div>
    </div>
</div>

<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">

			<!--
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5 w-100">Localização Ativa!</h1>
            </div>
			-->

            <div class="modal-body text-center">
				<div class="mb-3">
					<!--
						https://lottiefiles.com/free-animation/travel-is-fun-IYcVDUVlkE
					-->
					<lottie-player src="<%- staticRoot %>/img/travel_is_fun.json" background="transparent" speed="1" style="width: 100%; max-width: 250px; margin: 0 auto; pointer-events: none;" loop autoplay></lottie-player>
				</div>
                <p id="textoLatLng"></p>
                <p class="mb-0" id="textoMensagem"></p>
            </div>

            <div class="modal-footer justify-content-center border-top-0">
                <button id="btnPararTransmissao" type="button" class="btn btn-danger" onclick="pararLocalizacao()"
                    data-bs-dismiss="modal">
                    Parar a transmissão
                </button>
            </div>

        </div>
    </div>
</div>

<%- contentFor("styles") %>


    <style>
        #btnPararTransmissao {
            color: #fff;
            background-color: #a80532;
            border-color: #a80532;
        }

        .cssTituloModal {
            width: 100%;
            text-align: center;
            font-size: 1.7rem !important;

        }
    </style>

	<script src="<%- staticRoot %>/lib/lottie-player-2.0.12/lottie-player.js"></script>

    <%- contentFor("scripts") %>
        <script>
            let intervaloGPS = null;
            let modalJaMostrado = false;
            let modalInstance = null;

            function mostrarPopup(lat, lng, mensagem) {
                const modalEl = document.getElementById('exampleModal');

                if (!modalInstance) {
                    modalInstance = new bootstrap.Modal(modalEl, {
						backdrop: "static",
						keyboard: false,
					});
                }

                if (!modalJaMostrado) {
                    modalInstance.show();
                    modalJaMostrado = true;
                }

				if (lat || lng)
                	document.getElementById("textoLatLng").textContent = `Localização atual: ${lat} / ${lng}`;

				document.getElementById("textoMensagem").textContent = mensagem;
            }

            function iniciarLocalizacao(idVan) {
                function capturar() {
                    navigator.geolocation.getCurrentPosition(function (pos) {
                        let lat = pos.coords.latitude;
                        let lng = pos.coords.longitude;

                        JsonWebApi.post("<%- root %>/api/van/salvarLoc", {
                            idVan: idVan,
                            latitude: lat,
                            longitude: lng,
							apelido: document.getElementById("inputApelidoVan").value,
							senha: document.getElementById("inputSenhaVan").value,
                        }, function (response) {

							Swal.close();

							if (response.success) {
								mostrarPopup(lat, lng, "Localização compartilhada com sucesso: " + (new Date()).toLocaleTimeString());
                            } else {
								mostrarPopup(lat, lng, "Erro ao registrar a localização: " + response.value);
                            }

							intervaloGPS = setTimeout(capturar, 10000);
                        });

                    }, function (erro) {
						Swal.close();

						mostrarPopup(null, null, "Erro ao obter localização: " + ((erro && erro.message) || erro || "Erro desconhecido"));

						intervaloGPS = setTimeout(capturar, 10000);
                    });
                }

                capturar();
            }

            function pararLocalizacao() {
                if (intervaloGPS) {
                    clearTimeout(intervaloGPS);
                    intervaloGPS = null;
                    console.log("Localização parada");
                }

                if (modalInstance) {
                    modalInstance.hide();
                }

                modalJaMostrado = false;
            }

            function loginMotorista() {
                let apelidoVan = document.getElementById("inputApelidoVan").value;
                let senhaVan = document.getElementById("inputSenhaVan").value;
                let placaVan = document.getElementById("inputPlacaVan").value.trim().toUpperCase();

                if (!apelidoVan) {
                    Swal.error("O Apelido da van é invalido !");
                    return;
                }
                if (!senhaVan) {
                    Swal.error("A senha não pode estar vazia!");
                    return;
                }
                if (!placaVan) {
                    Swal.error("O campo placa está vazio.");
                    return;
                }

				Swal.wait();

				JsonWebApi.post("<%- root %>/api/van/loginMotorista", {
                    apelido: apelidoVan,
                    senha: senhaVan,
                    placa: placaVan
                }, function (response) {

                    if (response.success) {

                        let idVan = response.value.value.id;

                        console.log("Login OK - Van:", idVan);

                        iniciarLocalizacao(idVan);

                    } else {
                        Swal.error("Erro ao iniciar: " + response.value);
                    }

                });
            }

        </script>